.sidebar{
    position: fixed;
    top:0;
    left: 0;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:rgba(20, 20, 20, 0.993);
}
.sidebar .logo{
    margin-top: 20%;
    width: 70%;
    height: 30%;
}
.sidebar .logo img{
    width: 100%;
    height: 100%;
}
.sidebar .name{
    font-size: 6vw;
    color:white;
}
.sidebar .contact-info {
   overflow: hidden;
   overflow-wrap: break-word;
   width: 100%;
   text-align: center;
   color:white
}

